body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgb(255, 255, 255);
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: justify;
    position: relative;
    z-index: 3;
    margin-top: -25px;
    overflow: hidden;

}
.form-container-success {
    background-color: rgb(255, 255, 255);
    padding: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: -25px;
    overflow: hidden;
}
p {
    font-size: 20px;
}
h1 {
    font-size: 40px;
}
form p {
    font-size: 20px;
}

input[name="name"],
input[name="role"],
input[name="company"],
input[name="info"],
input[name="email"]
{
    width: 100px;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 10px;
}
input[name="email"]{
    width: 550px;
}

input[name="info"]{
    width: 455px;
}

input::placeholder {
    color: black;
    font-size: 16px;
}
select {
    padding: 2px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 18px;
    width: 310px;
}
.radio-container {
    display: inline-block;
    padding: 7px 22px;
    border: 1px solid black;
    border-radius: 24px;
    margin: 0 3px;
    font-size: 18px;
}
.radio-container input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.5);
}
.button-container {
    text-align: center;
}

button {
    background-color: #332FFF;
    color: white;
    padding: 10px 48px;
    border: none;
    border-radius: 30px;
    font-size: 26px;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.text-overlay {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-top {
    color: #332FFF;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    z-index: 2;
    position: relative;
    margin-bottom: -75px;
}
.bottom {
    z-index: 4;
}

.text-bottom {
    color: lightblue;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    z-index: 4;
    clip-path: inset(50% 0 0 0);
}

@media (max-width: 992px) {
    .form-container {
        width: 90%;
        padding: 60px;
    }
    .form-container-success {
        width: 90%;
        padding: 120px;
    }
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 18px;
    }

    input[name="name"],
    input[name="role"],
    input[name="company"] {
        width: 80px;
    }

    input[name="email"] {
        width: 465px;
    }

    input[name="info"] {
        width: 380px;
    }

    form p {
        font-size: 18px;
    }

    select {
        padding: 2px;
        margin-top: 5px;
        width: 250px;
    }

    button {
        font-size: 22px;
        padding: 8px 40px;
    }

    .radio-container {
        padding: 5px 13px;
        border: 1px solid black;
        margin: 0 1px;
        font-size: 18px;
    }
    .radio-container input[type="radio"] {
        margin-right: 9px;
        transform: scale(1.3);
    }

    .text-top {
        font-size: 60px;
        line-height: 3;
        margin-bottom: -88px;
    }

    .text-bottom {
        font-size: 60px;
        line-height: 0.1;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 40px;
    }
    .form-container-success {
        width: 90%;
        padding: 80px;
    }

    h1 {
        font-size: 28px;
    }
    p {
        font-size: 14px;
    }

    input[name="name"],
    input[name="role"],
    input[name="company"] {
        width: 66px;
        margin: 5px;
    }
    input::placeholder {
        font-size: 14px;
    }

    select {
        padding: 2px;
        margin-top: 4px;
        width: 191px;
        font-size: 14px;
    }

    input[name="email"] {
        width: 354px;
    }

    input[name="info"] {
        width: 289px;
    }

    form p {
        font-size: 14px;
    }

    button {
        font-size: 20px;
        padding: 6px 30px;
    }

    .text-top, .text-bottom {
        font-size: 50px;
    }

    .radio-container {
        padding: 3px 9px;
        border: 1px solid black;
        margin: 0 1px;
        font-size: 14px;
    }
    .radio-container input[type="radio"] {
        margin-right: 5px;
        transform: scale(1.1);
    }

    .text-top {
        line-height: 5.4;
        margin-bottom: -130px;
    }

    .text-bottom {
        line-height: 0.001;
    }
}

@media (max-width: 576px) {
    .form-container {
        width: 100%;
        padding: 20px;
    }

    .form-container-success {
        width: 100%;
        padding: 40px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 12px;
    }

    input[name="name"],
    input[name="role"],
    input[name="company"] {
        width: 60px;
        margin: 0;
    }
    input::placeholder {
        font-size: 12px;
    }

    select {
        padding: 0;
        margin-top: 10px;
        width: 154px;
        font-size: 12px;
    }

    input[name="email"] {
        width: 284px;
    }

    input[name="info"] {
        width: 228px;
    }

    form p {
        font-size: 12px;
    }

    button {
        font-size: 18px;
        padding: 5px 25px;
    }

    .text-top, .text-bottom {
        font-size: 40px;
    }

    .radio-container {
        padding: 1px 5px;
        border: 1px solid black;
        margin: 0 1px;
        font-size: 12px;
    }
    .radio-container input[type="radio"] {
        margin-right: 1px;
        transform: scale(0.9);
    }

    .text-top {
        line-height: 8.4;
        margin-bottom: -165px;
    }

    .text-bottom {
        line-height: 0.001;
    }
}
@media (max-width: 434px) {
    .form-container {
        width: 110%;
        padding: 10px;
    }

    .form-container-success {
        width: 86%;
        padding: 32px;
    }
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 11px;
    }

    input[name="name"],
    input[name="role"],
    input[name="company"] {
        width: 50px;
        margin: 1px;
    }
    input::placeholder {
        font-size: 11px;
    }

    select {
        padding: 0;
        margin-top: 10px;
        width: 140px;
        font-size: 11px;
    }

    input[name="email"] {
        width: 258px;
    }

    input[name="info"] {
        width: 208px;
    }

    form p {
        font-size: 11px;
    }

    button {
        font-size: 14px;
        padding: 5px 10px;
        width: 130px;
    }

    .text-top, .text-bottom {
        font-size: 28px;
    }

    .radio-container {
        border: 1px solid black;
        margin: 0 1px;
        font-size: 11px;
    }
    .radio-container input[type="radio"] {
        margin-right: 1px;
        transform: scale(0.8);
    }

    .text-top {
        line-height: 8.4;
        margin-bottom: -165px;
    }

    .text-bottom {
        line-height: 0.1;
    }
}